body {
  font-size: 10px;
}

header {
  text-align: center;
}

.row {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
}

.board {
  display: grid;
  max-width: 35rem;
  margin: 2.5rem auto;
  background: lightblue;
}

.disc {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin: 0.4rem;
}

.none {
  background: white;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}
