body {
  font-size: 10px;
}

header {
  text-align: center;
}

.row {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
}

.board {
  display: grid;
  max-width: 35rem;
  margin: 2.5rem auto;
  background: lightblue;
}

.disc {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin: 0.4rem;
  cursor: pointer;
}

.none {
  background: white;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.message {
  color: red;
  height: 25px;
}

@media (max-width: 35rem) {
  h1 {
    font-size: 0.8rem;
  }

  .board {
    margin: 1rem auto;
  }

  .disc {
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    margin: 0.2rem;
    cursor: pointer;
  }
}
